<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Domain</key>
	<string>dev-2maqa8qwnbiw32vk.us.auth0.com</string>
	<key>ClientId</key>
	<string>d8jRlYhP4SwrE5mbH4t8E89xDAB7W74g</string>
</dict>
</plist>
